

.cardSwiper {
  width: 100%;
  
  padding-bottom: 40px;
}

.cardSwiper-slide {
  background-position: center;
  background-size: cover;

  width: 300px;
  
}

.cardSwiper-slide img {
  display: block;
  width: 100%;
}
